modules = ["python-base-3.13", "nodejs-22"]

[workflows]
runButton = "Project"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 19244
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://xwihkeklhddoflcqllzz.supabase.co"
